<!-- Welcome -->
<header class="sections sections-tight sections-light">
  <div class="container">
    <div class="media">
      <div class="pull-right stats stats-md">
        <ul>
          
        </ul>
      </div>
      <div class="media-body">
        <div class="media">
          <div class="media-left">
            <img src="images/avatar.jpg" class="img-circle img-circle-medium media-object" width="80" height="80">
          </div>
          <div class="media-body">
            <h4 class="h3">Welcome back, John Doe</h4>            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>