

<!-- Employees -->
<section id="employees" class="sections sections-narrow">
  <div class="container">
    <div class="action-wrappers pull-right">            
    </div>
    <h2 class="sub-header" data-ng-bind=""></h2>
    <div class="row">
      <div >
      	
      	<h3>Tests</h3>
      	
      	<div class="pull-right">
      		<a style="width:150px;" href="#" data-ng-click="order('testTakenDate')"  class="btn btn-primary">
	    		Sort By Date
	    		<span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
    		</a>
    		<span class="sortorder" data-ng-show="predicate === 'testTakenDate'" data-ng-class="{reverse:reverse}"></span>	
      	</div>
      	
    	
      	
      	<br><br>
      	<table data-ng-repeat="test in tests | orderBy:predicate:reverse">      		
      		<tr>
      			<td data-ng-bind="test.testId">
      				test
      			</td>
      			<td>
      				{{test.testTakenDate | date:'yyyy-MM-dd HH:mm:ss'}}
      			</td>
				<td data-ng-bind="test.result">
      				test
      			</td>
      		</tr>
      	</table>
        
      </div>
    </div>
  </div>
</section>