<section id="clients" class="sections sections-narrow">
  <div class="container">
    <div class="action-items pull-right">
      <div class="action-item pull-right">
        
      </div>
      <div class="action-item pull-right">
        
      	<a style="width:180px;" href="#" class="btn btn-primary" data-ng-click="order('name')">
	    	Sort By Client Name
	    	<span aria-hidden="true" class="glyphicon glyphicon-chevron-right" ></span>
    	</a>
    	<span class="sortorder" style="width:20px;" data-ng-show="predicate === 'name'" data-ng-class="{reverse:reverse}"></span>	
      	
      </div>
    </div>
    <h2 class="sub-header">clients</h2>
    <div class="row">
      <div class="col-md-3" data-ng-repeat="client in clients | orderBy:predicate:reverse">
        <div class="thumbnail">
          <a data-ui-sref="clientDetails({id: client._id})">
          	{{client.name}}          		        		
          </a>
          <div class="caption">
            <h3 class="caption-heading"><a href="show.html" data-ng-bind="client.firstName + ' ' +client.lastName"></a></h3>
            <p data-ng-bind="client.city"></p>
            <p data-ng-bin="client.address"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
