<!-- Client Brief Info -->
<header class="sections sections-narrow sections-light">
  <div class="container">
    <div class="media media-welcome">
      <div class="media-left">        
      </div>
      <div class="media-body">
        <div class="pull-right stats stats-md">
          <ul>
            <li>{{currentClient.employees.length || 0}}<span>Employees</span></li>
            <li>{{currentClient.tests.length || 0}}<span>Tests</span></li>
          </ul>
        </div>
        <h1 class="h3" data-ng-bind="currentClient.firstName + ' ' + currentClient.lastName"></h1>
        <p data-ng-bind="currentClient.description"></p>
        <p>
        	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        	<span data-ng-bind="currentClient.address"></span>, 
        	<span data-ng-bind="currentClient.city"></span>
        </p>
        <div class="btn-group">
          <a href="#" class="btn btn-link"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Call</a>          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Clients -->
<section id="clientsInfo" class="sections sections-no-padding sections-darker">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-border-right">
        <div class="section-inner-padding">
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#editClientModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Client</button>
          <h2 class="h3 sub-header">Client Information1</h2>
          <form class="form-inline form-inline-display">
            <div class="form-group">
              <p>First Name</p>
              <p class="h5" data-ng-bind="currentClient.name"></p>
            </div>
            <div class="form-group">
              <p>Last Name</p>
              <p class="h5" data-ng-bind="currentClient.lastName"></p>
            </div>
            <div class="form-group">
              <p>Address</p>
              <p class="h5" data-ng-bind="currentClient.address"></p>
            </div>
            <div class="form-group">
              <p>City</p>
              <p class="h5" data-ng-bind="currentClient.city"></p>
            </div>
            <div class="form-group">
              <p>Contact Number</p>
              <p class="h5" data-ng-bind="currentClient.telephone"></p>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- Employees -->
<section id="employees" class="sections sections-narrow">
  <div class="container">
    <div class="action-wrappers pull-right">
      <button class="btn btn-primary pull-right action-item" data-toggle="modal" data-target="#employeeModal" data-ng-click="addEmployee()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Employee
      </button>
      <div class="pull-right action-item">
        View as
        <div class="btn-group">
          <a class="btn btn-default">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </a>
          <a class="btn btn-default">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
    <h2 class="sub-header">Client's Employees</h2>
    <div class="row thumbnail-wrapper">
      <div data-ng-repeat="employee in currentClient.employees" class="col-md-3">
        <div class="thumbnail">          
          <div class="caption">
            <h3 class="caption-heading" data-ng-bind="employee.name"></h3>
            <p class="caption-meta" data-ng-bind="employee.birthdate"></p>
            <p class="caption-meta"><span class="caption-label" data-ng-bind="employee.type.name"></span></p>
          </div>
          <div class="action-bar">
            <button class="btn btn-default" data-toggle="modal" data-target="#employeeModal" data-ng-click="editEmployee(employee.id)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Employee
            </button>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Employees -->
<section id="employees" class="sections sections-bottom-nav sections-darker">
  <div class="container">
    <ul class="pager pager-link pull-left">
      <li><a data-ui-sref="clients"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to Clients List</a></li>
    </ul>
    <ul class="pager pager-link pull-right">
      <li><a data-ui-sref="clientDetails({id:prevClient.id})"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{prevClient.firstName + ' ' + prevClient.lastName}}</a></li>
      <li><a data-ui-sref="clientDetails({id:nextClient.id})">{{nextClient.firstName + ' ' + nextClient.lastName}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
  </div>
</section>

<!-- Add Client modal -->
<!-- 
<data-ng-include src="'components/_partials/_modal_add_client.html'"></data-ng-include> -->
<!-- Add Employee modal -->
<!-- 
<data-ng-include src="'components/_partials/_modal_add_employee.html'"></data-ng-include>
 -->
