<section id="clients" class="sections sections-narrow">
  <div class="container">
    <div class="action-items pull-right">
      <div class="action-item pull-right">
        
      </div>
      <div class="action-item pull-right">
        Sort by
        <div class="btn-group">
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <h2 class="sub-header">clients</h2>
    <div class="row">
      <div class="col-md-3" data-ng-repeat="client in clients">
        <div class="thumbnail">
          <a data-ui-sref="clientDetails({id: client._id})">
          	{{client.name}}          		        		
          </a>
          <div class="caption">
            <h3 class="caption-heading"><a href="show.html" data-ng-bind="client.firstName + ' ' +client.lastName"></a></h3>
            <p data-ng-bind="client.city"></p>
            <p data-ng-bin="client.address"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
