<!doctype html>
<html ng-app="drivercheck">
<head>
<meta charset="utf-8">
<title>AngularJS Plunker</title>
<script>
	document.write('<base href="' + document.location + '" />');
</script>
<script src="http://code.angularjs.org/1.1.4/angular.js"></script>
<script src="js/test.js"></script>
</head>
<body ng-controller="MainCtrl">
	<ul ng-repeat="client in clients">
		<li>
			{{ client.name }}
			<ul ng-repeat="employee in client.employees">
				<li>{{ employee.firstName}}</li>
				<ul ng-repeat="test in employee.tests">
					<li>{{ test.testId}}</li>
				</ul>
			</ul>	
		</li>		
		</tr>
		</table>
</body>
</html>